[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
unidecode = "*"
pydantic = "<2.0"
prisma = "*"
attrs = "*"
aiohttp = "==3.8.4"

[dev-packages]
black = "*"
mypy = "*"
pre-commit = "*"
python-semantic-release = "*"
twine = "*"
wheel = "*"
agrobase = {editable = true, path = "."}

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true

[scripts]
test = """
python -m unittest
"""
